<article class="product-list">

  <header><h1>List of Flavors</h1></header>
  <div>
    <input class="songs-list__search" type="text" ng-model="query" placeholder="search"/>
  </div>
  <section>

    <div ng-repeat="item in flavors | filter: query">
      <a href="#!/item/{{ item.id }}">{{ item.title }}</a>
    </div>

    <h2>The Milk Kind</h2>
    <div ng-repeat="item in flavors">
    	<div ng-show="{{ !item.milk }}">
      		<a href="#!/item/{{ item.id }}">{{ item.title }}</a>
      </div>
    </div>

  </section>

</article>
